# Datasource
DATABASE_URL=db_url
DATABASE_USERNAME=db_user
DATABASE_PASSWORD=db_password

# JWT
JWT_SECRET=any_long_secret_key

# Initial manager
INITIAL_MANAGER_FIRST_NAME=any_first_name
INITIAL_MANAGER_LAST_NAME=any_last_name
INITIAL_MANAGER_BIRTHDATE=2000-01-01
INITIAL_MANAGER_EMAIL=manager@example.com
INITIAL_MANAGER_PHONE=+261340000000
INITIAL_MANAGER_PASSWORD=any_secure_password